<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.localfresh.mapper.MemberMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into member (openid, google_sub, email, name, phone, sex, id_number, avatar, avatar_url, login_provider, create_time)
        values (#{openid}, #{googleSub}, #{email}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{avatarUrl}, coalesce(#{loginProvider}, 'mock'), #{createTime})
    </insert>

    <update id="updateOAuthInfo">
        update member
        <set>
            <if test="googleSub != null">google_sub = #{googleSub},</if>
            <if test="email != null">email = #{email},</if>
            <if test="name != null">name = #{name},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="loginProvider != null">login_provider = #{loginProvider},</if>
        </set>
        where id = #{id}
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from member
        <where>
            <if test="begin != null">
                and create_time &gt; #{begin}
            </if>
            <if test="end != null">
                and create_time &lt; #{end}
            </if>
        </where>
    </select>

</mapper>
