<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.localfresh.mapper.PaymentEventMapper">

    <select id="listByOrderNumber" resultType="com.localfresh.entity.PaymentEvent">
        select * from payment_event
        where order_number = #{orderNumber}
        order by created_at desc, id desc
    </select>

</mapper>
