<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ProductSpecMapper">


    <insert id="insertBatch">
        insert into product_spec (product_id, name, value)
        values
        <foreach collection="productSpecs" item="df" separator=",">
            (#{df.productId}, #{df.name}, #{df.value})
        </foreach>
    </insert>
    <delete id="deleteByDishIds">
        delete from product_spec where product_id in
        <foreach collection="dishIds" open="(" close=")" separator="," item="productId">
            #{productId}
        </foreach>
    </delete>
</mapper>
